<?xml version="1.0" encoding="UTF-8"?>
<!--
/**  
* Create route to the admin
* @category: PHP
* @package: Visionet/CustomerNotification
* @copyright: Visionet Systems Limited. All rights reserved.
* @license: Visionet Systems Limited
* @author: Nikhil A <nikhil.a@visionetsystems.com>
* @keywords: Module Visionet_CustomerNotification
*/
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin"> 
        <route id="customernotification" frontName="customernotification">
            <module name="Visionet_CustomerNotification" />
        </route>
    </router>
</config>
