<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Checkout\Model\Cart">
        <plugin name="WebkulCart" type="Visionet\Plugins\Model\Cart" sortOrder="1" />
    </type>

     <!-- <type name="Magento\Catalog\Model\Product">
        <plugin name="WebkulCart1" type="Visionet\Plugins\Model\Product" sortOrder="2" />
    </type> -->
</config>