<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
<system>
    <tab id="pincode" translate="label" sortOrder="500">
        <label>Pincode Checker</label>
    </tab>

    <section id="pincode" translate="label" type="text" sortOrder="300" showInDefault="1" showInWebsite="1" showInStore="1">
        <class>separator-top</class>
        <label>Configuration</label>
        <tab>pincode</tab>
        <resource>Visionet_PincodeChecker::config_my_module</resource>
        <group id="general" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>General Configuration</label>
            <field id="enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Enable Module</label>
                <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
            </field> 

            <field id="csv_file_upload" translate="label" type="Magento\Config\Block\System\Config\Form\Field\File" sortOrder="6" showInDefault="1" showInWebsite="1" >
                <label>Upload CSV file</label>
                <backend_model>Visionet\PincodeChecker\Model\Config\Backend\File</backend_model>
                <upload_dir config="system" scope_info="1">PincodeDir</upload_dir>
                <comment>
                    <model>Visionet\PincodeChecker\Model\Config\Sample</model>
                </comment>
                <depends>
                        <field id="enable">1</field>
                </depends>
            </field> 
        </group>
  </section>
</system>
</config>
