<?xml version="1.0" encoding="UTF-8"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Visionet_Stock::stock_menu" title="Out of Stock Notification" module="Visionet_Stock" sortOrder="10" resource="Visionet_Stock::stock" />
        <add id="Visionet_Stock::stock_list_menu" title="Stock Manager" module="Visionet_Stock" sortOrder="20" parent="Visionet_Stock::stock_menu" action="visionet/stock/index" resource="Visionet_Stock::stock" />
    </menu>
</config>